name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  integration:
    name: Run integration tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2025]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true

      - name: Run integration tests
        id: integration_test
        run: bazel test //tests/integration:integration_test --test_output=all
        shell: bash
